## Arrays
Python **does not have built-in support for Arrays**, but Python Lists can be used instead.

In [ ]:
def show(n):
    print(type(n), n)

show(int(1))
show(int(2.8))
show(int('2'))

show(float(1))
show(float(2.8))
show(float('2.0'))

show(str('abc'))
show(str(4.2))
show(str(2))

show(bool('1'))
show(bool(''))
show(bool(0.2))

<class 'int'> 1
<class 'int'> 2
<class 'int'> 2
<class 'float'> 1.0
<class 'float'> 2.8
<class 'float'> 2.0
<class 'str'> abc
<class 'str'> 4.2
<class 'str'> 2
<class 'bool'> True
<class 'bool'> False
<class 'bool'> True

# Sequences
Sequences are a generic term for an *ordered set* which means that the order in which we input the items will be the same when we access them. Six different types of sequences are supported: 
* strings, 
* lists, 
* tuples, 
* byte sequences, 
* byte arrays, 
* range objects.

In [ ]:
#sequence = [1,2,3,4,5,5]
sequence = 'abcdefghil'

## Operations (for Sequences)

The operator (+) is used to concatenate the second element to the first (concatenation).

In [ ]:
print(sequence + sequence)

abcdefghilabcdefghil

The operator (\*) is used to repeat a sequence n number of times (repeat).

In [ ]:
print(sequence * 30)

abcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghilabcdefghil

Membership operators (in) and (not in) are used to check whether an item is present in the sequence or not (membership). They return True or False.

In [ ]:
print('b' in sequence)

True

All the sequences in Python can be sliced (slicing). The slicing operator can take out a part of a sequence from the sequence.

In [ ]:
print(sequence[1:3])

bc

## Functions (for Sequences)

The *len()* function is very handy when you want to know the length of the sequence.

In [ ]:
print(len(sequence))

10

The *min()* and *max()* functions are used to get the minimum value and the maximum value from the sequences respectively.

In [ ]:
print(min(sequence))
print(max(sequence))

a
l

The *index()* method searches an element in the sequence and returns the index of the first occurrence.

In [ ]:
print(sequence.index('b'))

1

The *count()* method counts the number of times an element has occurred in the sequence.

In [ ]:
print(sequence.count('b'))

1

# Strings

Strings are a sequence of characters written inside a single or double-quotes. Python does not have a character type so a single character inside quotes is also considered as a string. Strings are immutable in nature so we can reassign a variable to a new string but we can’t make any changes in the string.

In [ ]:
print("This is a string.")
print('This is also a string.')
print('I told my friend, "Python is my favorite language!"')
print("The language 'Python' is named after Monty Python, not the snake.")

This is a string.
This is also a string.
I told my friend, "Python is my favorite language!"
The language 'Python' is named after Monty Python, not the snake.

*Strings are immutable*. This means that elements of a string cannot be changed once they have been assigned. 
We can only assign different values to the same reference (i.e., the old object is discarded).
We cannot delete or remove characters from a string. But deleting the string entirely is possible using the del keyword.

In [ ]:
name = 'python'
# name[2] = 'a'
# TypeError: 'str' object does not support item assignment

## Accessing characters
Individual characters can be accessed using *indexing*, *negative indexing*, and *slicing*. Index starts both from 0 and -1. Access a character out of index range raises IndexError. Using not-integer index raises TypeError. Concerning negative indexing, the index of -1 refers to the last item, -2 to the second last item and so on. We can also access a range of items in a string by using the slicing operator :(colon).

In [ ]:
name = 'ooprogramming'
# indexing
print(name[0]) # o
print(name[3]) # r

# negative indexing
print(name[-1]) # g
print(name[-2]) # n

# slicing
print(name[0:3])  # oop
print(name[5:-2]) # grammi
print(name[3:])   # rogramming
print(name[:])    # ooprogramming

o
r
g
n
oop
grammi
rogramming
ooprogramming

## Combining Strings

Explicit casting is required when mixing numeric literals and string literals.
Alternatively, use string formatting techniques.

In [ ]:
age = 26 
# print('Happy ' + age + 'th Birthday!') 
# TypeError: must be str, not int
print('Happy ' + str(age) + 'th Birthday!')
print(f'Happy {age}th Birthday!')

Happy 26th Birthday!
Happy 26th Birthday!

## Formatting Strings

In [ ]:
# re-arranging the order of arguments
print(f'{'bicocchi'} {'nicola'}')

# padding up to 10 spaces
print(f'{'nicola':10} {'bicocchi':10}')

# specifying 4 digits precision
print(f'{1 / 3:.4f} {2 / 3:.4f}')

# padding up to 8 spaces, 6 digits precision
print(f'{1 / 3:08.6f} {2 / 3:08.6f}')

# padding up to 8 spaces, 1 digit precision
print(f'{1 / 3:08.1f} {2 / 3:08.1f}')

bicocchi nicola
nicola     bicocchi
0.3333 0.6667
0.333333 0.666667
000000.3 000000.7

## Dealing with whitespaces

In [ ]:
name = ' python '
print(f'\'{name.rstrip()}\'')
print(f'\'{name.lstrip()}\'')
print(f'\'{name.strip()}\'')

name = 'python'
print(f'\'{name.rjust(10)}\'')
print(f'\'{name.ljust(10)}\'')
print(f'\'{name.center(10)}\'')

' python'
'python '
'python'
'    python'
'python    '
'  python  '

## Dealing with cases

In [ ]:
name = 'Ada Lovelace'
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.islower())
print(name.isupper())
print(name.istitle())

ADA LOVELACE
ada lovelace
Ada lovelace
Ada Lovelace
False
False
True

## Finding and replacing substrings

If you want to know where a substring appears in a string, you can use the *find()* method. The *find()* method tells you the index at which the substring begins. Note, however, that this function only returns the index of the first appearance of the substring you are looking for. If the substring appears more than once, you will miss the other substrings.

In [ ]:
message = 'I like cats and dogs, but I\'d much rather own a dog.'
dog_index = message.find('dog')
print(dog_index)

16

If you want to find the last appearance of a substring, you can use the *rfind()* function:

In [ ]:
message = 'I like cats and dogs, but I\'d much rather own a dog.'
last_dog_index = message.rfind('dog')
print(last_dog_index)

48

You can use the *replace()* function to replace any substring with another substring. To use the *replace()* function, give the substring you want to replace, and then the substring you want to replace it with. You also need to store the new string, either in the same string variable or in a new variable.

In [ ]:
message = 'I like cats and dogs, but I\'d much rather own a dog.'
message = message.replace('dog', 'snake')
print(message)

I like cats and snakes, but I'd much rather own a snake.

## Splitting and joining strings
Strings can be split into a set of substrings when they are separated by a repeated character. If a string consists of a simple sentence, the string can be split based on spaces. The *split()* function returns a list of substrings. The *split()* function takes one argument, the character that separates the parts of the string.

In [ ]:
# From string to list
animals = 'dog, cat, tiger, mouse, bear'
#print(animals.split(','))
print(animals.split(', '))

['dog', 'cat', 'tiger', 'mouse', 'bear']

In [ ]:
# From list to string
# Don't do this!
animals = ['dog', 'cat', 'tiger', 'mouse', 'bear']
semicolon_separated = animals[0]
for animal in animals[1:]:
    semicolon_separated += ', ' + animal
print(semicolon_separated)

dog, cat, tiger, mouse, bear

In [ ]:
# From list to string
# Do this!
animals = ['dog', 'cat', 'tiger', 'mouse', 'bear']
print(', '.join(animals))

dog, cat, tiger, mouse, bear